.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.button__accept {
    width: 282px;
    height: 56px;
    background-color: var(--accept-button-background-color);
    color: var(--accept-button-text-color);
    border: none;
}

.button__accept:hover {
    background-color: var(--accept-button-background-hover-color);
}

.button__ticket {
    width: 238px;
    height: 56px;
    border: 2px solid var(--ticket-button-border-color);
    color: var(--ticket-button-text-color);
}

.button__ticket:hover {
    background-color: var(--ticket-button-background-hover-color);
    color: var(--ticket-button-text-hover-color);
}