.cars { 
    position: relative;
    width: 100%;
    background-color: var(--main-cars-background-color);
}
.cars__block {
    display: flex;
    justify-content: space-between;
    padding: 240px 0 290px; 
}

.cars__item:first-child {
    margin-right: 130px;
}

.cars__participation {
    margin-bottom: 130px;
}

.cars__subtitle {
    margin-bottom: 50px;
}

.cars__text, .cars__button {
    margin-top: 50px;
}

.cars__info {
    max-width: 650px;
}

.auto__photo {
    max-width: 750px;
}

.auto__photo_cars {
    width: 100%;
}

.auto__photo_cars:not(:first-child) {
    margin-top: 130px;
}

.cars__participation_link {
    margin-top: 130px;
    padding: 30px 30px 75px 30px;
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    height: 212px;
    border-radius: 40px;
    background-color: var(--link-cars-background-color);
}

.cars__link_text {
    color: var(--link-text-color);
}

@media (max-width: 1024px) {
    .cars__block {
        padding: 60px 0 140px; 
    }

    .cars__item:first-child {
        margin-right: 80px;
    }

    .cars__button {
        margin-top: 30px;
    }

    .cars__subtitle {
        margin-bottom: 30px;
    }

    .cars__participation {
        margin-bottom: 80px;
    }

    .auto__photo_cars:not(:first-child) {
        margin-top: 80px;
    }

    .cars__participation_link {
        margin-top: 80px;
        max-width: 400px;
        height: 128px;
       
    }

}


@media (max-width: 320px) {
    .cars__block {
        flex-direction: column;
        padding-top: 10px;
    }

    .cars__subtitle {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .cars__item:first-child {
        margin: 0;
    }

    .cars__participation {
        margin-bottom: 50px;
    }

    .cars__participation_picture, .cars__participation_link {
        width: 132px;
    }

    .auto__photo_cars:not(:first-child) {
        margin-top: 20px;
    }

    .cars__participation_link {
        margin-top: 20px;
        width: 132px;
        height: 104px;
        border-radius: 20px;
        padding: 14px 14px 74px 14px;
    }

    .cars__link_text {
        font-size: 12px;
        line-height: 15.6px;
    }

    .cars__link_arrow-img {
        width: 10px;
        height: 10px;
    }

    .auto__photo {
        position: relative;
        width: 132px;
        margin-left: 152px;
        margin-top: -415px;

    }

}