.cars { 
    position: relative;
    width: 100%;
    background-color: var(--main-cars-background-color);
}
.cars__block {
    display: flex;
    justify-content: space-between;
    padding: 240px 0 290px; 
}

.cars__item:first-child {
    margin-right: 130px;
}

.cars__participation {
    margin-bottom: 130px;
}

.cars__subtitle {
    margin-bottom: 50px;
}

.cars__text, .cars__button {
    margin-top: 50px;
}

.cars__info {
    max-width: 650px;
}

.auto__photo {
    max-width: 750px;
}

.auto__photo_cars {
    width: 100%;
}

.auto__photo_cars:not(:first-child) {
    margin-top: 130px;
}

.cars__participation_link {
    margin-top: 130px;
    padding: 30px 30px 75px 30px;
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    height: 212px;
    border-radius: 40px;
    background-color: var(--link-cars-background-color);
}

.cars__link_text {
    color: var(--link-text-color);
}

@media (max-width: 1024px) {
    .cars__block {
        padding: 60px 0 140px; 
    }

    .cars__item:first-child {
        margin-right: 80px;
    }

    .cars__button {
        margin-top: 30px;
    }

    .cars__subtitle {
        margin-bottom: 30px;
    }

    .cars__participation {
        margin-bottom: 80px;
    }

    .auto__photo_cars:not(:first-child) {
        margin-top: 80px;
    }

    .cars__participation_link {
        margin-top: 80px;
        max-width: 400px;
        height: 128px;
       
    }

}


@media (max-width: 320px) {
    .cars__block {
        flex-direction: column;
        padding: 0;

    }



}