:root {
    /* text */
    --main-text-color: #1E1E25;
    --main-text-active-color: #6C79EC;

    /* button */
    --ticket-button-border-color: #6C79EC;
    --ticket-button-text-color: #6C79EC;
    --ticket-button-background-hover-color: #6C79EC;
    --ticket-button-text-hover-color: #FFFFFF;
    
    --accept-button-background-color: #6C79EC;
    --accept-button-text-color: #FFFFFF;
    --accept-button-background-hover-color: #4653CE;

    /* main */
    --main-background-color: #F6F5F5;
    --main-cars-background-color: #D0E4D9;
    --link-cars-background-color: #8EAAAB;
    --link-text-color: #FFFFFF;
}