.container {
    width: 100%;
    padding: 0 195px;
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 86px;
    line-height: 86px;
}

.subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
}

.headline {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.descriptor {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.text__footer-menu {
    font-weight: 500;
    font-size: 14px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text__small {
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
}

.text__place {
    font-weight: 300;
    font-size: 50px;
}

.text__price {
    font-weight: 700;
    font-size: 25px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1024px) {
    
    .container {
        padding: 0 47px;
    }

    .descriptor {
        font-size: 16px;
        line-height: 20.8px;
    }

    .title {
        font-size: 50px;
        line-height: 50px;
    }

    .subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
    }

    .headline {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
    }

    .text {
        font-size: 15px;
        line-height: 22.5px;
    }

    .text__small, .text-safety  {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
    }
    
}

@media (max-width: 320px) {
    
    .container {
        padding: 0 18px;
    }

    .descriptor {
        font-size: 16px;
        line-height: 20.8px;
    }

    .title {
        font-size: 28px;
        line-height: 28px;
    }

    .subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
    }

    .headline {
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
    }

    .text {
        font-size: 14px;
        line-height: 21px;
    }
}