.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 60px;
    background: url(../images/header-background.jpg) no-repeat center/cover;
}

.header__block {
    z-index: 1000;
    height: 38px;
}

.header__block_top {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header__partners {
    margin-top: 88px;
    width: 575px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__data {
    margin-top: 211px;
}

.header__text {
    width: 1009px;
    display: block;
}

.header__title, .header__text {
    margin-top: 40px;
}

.header__button-wrapper {
    margin-top: 30px;
    display: flex;
}

.header__button-wrapper > .button:first-child {
    margin-right: 24px;
}

.header__arrow {
    margin: 162px auto 0;
    width: 28px;
    height: 7px;
    position: relative;
    cursor: pointer;
}

.header__arrow::after, .header__arrow::before {
    content: "";
    position: absolute;
    display: block;
    width: 15.65px;
    height: 3px;
    background-color: black;
}

.header__arrow::after {
    top: 0;
    left: 0;
    transform: rotate(30deg);
    border-radius: 0 20px 20px 0;
}

.header__arrow::before {
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    border-radius: 20px 0 0 20px;
}

@media (max-width: 1024px) {

    .header {
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .header__block_top {
        position: absolute;
    }

    .header__partners > .link:not(:first-child) {
        display: none;
    }

    .header__data {
        margin-top: 74px;
    }

    .header__title,
    .header__text {
        margin-top: 30px;
    }

    .header__text {
        width: 930px;
    }

}

@media (max-width: 320px) {
    
    .header {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .header__partners {
        margin-top: 68.38px;
    }

    .header__data {
        margin-top: 36.51px;
    }

    .header__title,
    .header__text,
    .header__button-wrapper {
        margin-top: 20px;
    }

    .header__text {
        width: 282px;
    }

    .header__button-wrapper {
        flex-wrap: wrap;
    }

    .header__button-wrapper > .button:first-child {
        margin-right: 0;
    }

    .header__arrow {
        display: none;
    }
    
}    