@import './normalize.css';
@import './fonts.css';
@import './colors.css';

/* block */
@import './menu.css';
@import './header.css';
@import './button.css';
@import './logo.css';
@import './museum.css';
@import './cars.css';

* {
    box-sizing: border-box;
    font-family: Unbounded;
    font-style: normal;
}

body {
    position: relative;
}

.container {
    padding: 0 195px;
}

.title {
    font-weight: 500;
    font-size: 86px;
    line-height: 86px;
}

.subtitle {
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
}

.descriptor {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.link {
    cursor: pointer;
}