@import './normalize.css';
@import './fonts.css';
@import './colors.css';

/* block */
@import './common.css';
@import './menu.css';
@import './header.css';
@import './button.css';
@import './logo.css';
@import './museum.css';
@import './cars.css';
@import './divider.css';
@import './programs.css';
@import './price.css';

* {
    box-sizing: border-box;
    font-family: Unbounded;
    font-style: normal;
}

body {
    position: relative;
}