.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 577px;
    height: 38px;
}

.menu__item {

}

.menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--main-text-color);
}