.museum {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-background-color);
}

.museum__wrapper {
    display: flex;
    width: 100%;
    padding: 150px 0 172px;
}

.museum__block:first-child {
    max-width: 620px;
    margin-right: 160px;
}

.museum__block {
    width: 100%;
}

@media (max-width: 1024px) {

    .museum__wrapper {
        padding: 30px 0 120px;
    }

    .museum__block {
        width: 450px;
    }

    .museum__block:first-child { 
        margin-right: 30px;
    }
}


@media (max-width: 320px) {

    .museum__wrapper {
        padding: 0;
    }

    .museum__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0;
        
    }

    .museum__block {
        width: inherit;
    }

    .museum__block:first-child { 
        margin-bottom: 30px;
        margin-right: 0;
    }
}
