.programs {
    position: relative;
    width: 100%;
    background-color: var(--programs-background-color);
}

.programs__item {
    padding: 190px 0;
    
}

.contests__block {
    margin-top: 160px;
}

.programs__info, .contests__info {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.programs__info_item {
    border: 2px solid var(--programs-border-color);
    border-radius: 40px;
    max-width: 490px;
    height: 491px;
    padding: 68px;
}

.prizes__info_item {
    background-color: var(--prizes-background-color);
    max-width: 750px;
    height: 850px;
    border-radius: 40px;
}

.contests__info_item {
    background-color: var(--contests-background-color);
    max-width: 750px;
    height: 850px;
    border-radius: 40px;
}

.prizes__item_gift {
    margin: 120px 100px 0 100px;
}

.prizes__img_gift {
    margin: 140px 0 0 284px;
}

.prizes__img_cup {
    margin: 45px 0 0 296px;
}

.contests__info_item> .prizes__item_gift {
    color: var(--main-secondary-text-color);
}